.nav {
    height: 80px;
    width: 100%;
    background-color: #4a154b;
    color: white;

    &-p {
        width: auto;
        height: 90%;
        margin-left: 20px;

        &__p {
            font-size: 26px;
            font-weight: 700;
            margin-left: 10px;
            color: white;
        }
    }

    &-s{
        width: auto;
        height: 90%;
        margin-right: 25px;
    }

    
    &__img {
        width: 25px;
    }
}